<div class="content">
  <div class="posts">
    <% page.posts.each(function (post) { %>
      <div class="post">
        <div class="post-title">
          <h1><a href="<%- url_for(post.path) %>"><%- post.title %></a></h1>
        </div>
        <div class="post-mate">
          <i class="iconfont icon-04"></i>
          <time class="post-time"><%- date(post.date, "YYYY-MM-DD")%></time>
          <ul class="post-tags">
            <% if (post.tags) { %> 
              <% post.tags.each(function (tag) { %>
                <li>
                  <i class="iconfont icon-06tags"></i>
                  <a href="<%- url_for(tag.path) %>"><%- tag.name %></a>
                </li>
              <% }) %>  
            <% } %>
          </ul>
        </div>
        <div class="post-content">
          <div class="post-content markdown">
            <%- post.excerpt %>
          </div>
        </div>
      </div>
    <% }) %>
  </div>

  <%- partial('_partial/paginator') %>
</div>
