<div class="side-nav">
  <% if (is_post()) {%> 
    <div class="side-nav-directory">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-mulu1"></use>
      </svg>
    </div>
  <% } %>

  <div class="nav-logo">
      <a href="/"><img src="/pic/fish.svg"  width="120px" height="120px" alt=""></a>
      <h1><a class="head-logo" href="/">PPTTFish</a></h1>
    </div>
    <div class="author-info">
      <span>努力呀，奋斗呀</span>
    </div>
    <div class="social">
      <a href="<%- theme.social.github %>" target="_blank">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-github"></use>
        </svg></a>
      <a href="<%- theme.social.ins %>" target="_blank">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-ins1"></use>
        </svg>
      </a>
    </div>
</div>


<!-- menu框 -->
<%- partial('_partial/modal-dialog-menu') %>

<!-- search框 -->
<%- partial('_partial/modal-dialog-search') %>

<div class="nav-container">
  <div class="nav-item">
    <% if (theme.menu) { %>
      <ul class="nav-item-ul">
      <% for (name in theme.menu) { %>
        <% if (url_for(theme.menu[name]) == '/' + path.replace('/index.html', '') || (url_for(theme.menu[name]) == '/' && is_home())) { %>
          <li class="nav-item-li active">
            <a href="<%- url_for(theme.menu[name]) %>" class="nav-item-link"><%- name %></a>
          </li>
        <% } else { %>
          <li class="nav-item-li">
            <a href="<%- url_for(theme.menu[name]) %>" class="nav-item-link"><%- name %></a>
          </li>
        <% } %>
      <% } %>
        <!-- <li id="indicator" class="li-indicator nav-item-li"></li> -->
      </ul>
      <ul class="search-btn">
        <li class="nav-item-li">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-search"></use>
          </svg>
        </li>
      </ul>
    <% } %>
  </div>
  <div class="mobile-nav">
    <div class="menu"></div>
  </div>
  <div class="mobile-nav">
    <div class="search search-btn">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-search"></use>
      </svg>
    </div>
  </div>
</div>

