<head>
  <meta charset="utf-8">
  <% if(theme.favicon) { %>
    <link rel="shortcut icon" href="<%- theme.favicon %>" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="<%- theme.favicon %>" type="image/vnd.microsoft.icon" />
  <% } %>

 
  <%
    var title = page.title;

    if (page.title) {
      title = page.title
    }
    else {
      title = site.title 
    }
       
  %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <style type="text/css">
    .icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       overflow: hidden;
    }
    </style>
  <link rel="stylesheet" type="text/css" href="/css/iconfont.css">
  <%- css('css/base.css') %>
  <%- css('css/main-css.css') %>
  <%- css('css/markdown.css') %>
</head>
